# Prisma 자동 생성 클라이언트 무시
/src/generated/prisma/** linguist-generated=true

# config 파일 무시
eslint.config.mjs linguist-generated=true
tailwind.config.js linguist-generated=true
postcss.config.cjs linguist-generated=true
next.config.ts linguist-generated=true
tsconfig.json linguist-generated=true

# Next.js 타입 자동 생성 파일 무시
next-env.d.ts linguist-generated=true

# 루트 잠금파일 무시
package-lock.json linguist-generated=true

# 기타 루트 설정파일 무시
.gitattributes linguist-generated=true
.gitignore linguist-generated=true